[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-restful = "*"
gunicorn = "*"
flask-bcrypt = "*"
flask-mongoengine = "*"
flask-jwt-extended = "*"
flask-apscheduler = "*"
setuptools = "*"
flasgger = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.7"
